@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "San Francisco";
}

ul {
  /* descobrir a função de todos eles */
  list-style: none;
  display: flex;
  justify_content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  align-itens: center;
}
svg {
  display: block;
}
